# Default ignored files
/shelf/
*.xml
*.iml
!docs
.vscode/
.idea/
.DS_Store
*.dSYM
Algorithm/*
!Algorithm/*.cpp

dataAnalysis/*.docx
dataAnalysis/.ipynb_checkpoints/
NLP/.ipynb_checkpoints/
NLP/FinancialPhraseBank-v1.0